################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RangesCoroutines/.vs/
Debug/
Release/
*.VC.db
/build/
/.vs
/.idea/
/.vscode/
