[submodule "deps/range-v3"]
	path = src/deps/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "src/deps/Range-V3-VS2015"]
	path = src/deps/Range-V3-VS2015
	url = https://github.com/Microsoft/Range-V3-VS2015
